/* reset css */
* {margin: 0; padding: 0; box-sizing: border-box;}
a {color: inherit; text-decoration: none;}
a:hover {color: inherit;}
input {outline: none; border: none}
button {border: none; background: none; cursor: pointer;}

body {
  font-family: 'MaruBuri';
}

/* mobile */

/* form */
.tool-box {
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin-bottom: 20px;
}

#input-form button {
  background-color: #e2e2e2;
  padding: 3px 7px;
  border-radius: 3px;
  transition: background-color 200ms ease-in;
}

#input-form button:hover{
  background-color: rgb(123, 163, 191);
  color: #FFF;
}

input[type=text] {
  padding: 0 5px;
  width: 150px;
  height: 30px;
  border: 1px solid #6e6e6e;
  border-radius: 3px;
}

/* header */
header {
  padding: 20px 0;
}

.title {
  font-family: 'Roboto Slab', serif;
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
}

.menu-box {
  display: none;
  position: fixed;
  top: 0; 
  left: 0;
  width: 40%;
  height: 100vh;
  background-color: #e2e2e2;
  box-shadow: 3px 3px 15px rgb(126, 126, 126);
}

.menu-box.active{
  display: block;
}

.menubar {
  position: fixed;
  top: 0; 
  left: 0;
  padding: 20px;
}

.menubar a {
  display: block;
  padding: 7px 10px;
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  transition: all 300ms ease-in-out;
}

.menubar a:hover{
  background-color: rgb(123, 163, 191);
  border-radius: 5px;
  color: #fff;
}

/* menu on/off */
.menuOn {
  font-size: 25px;
  display: inline-block;
  color: #393939;
}

.menuOff {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 22px;
  z-index: 999;
  color: #6e6e6e;
}

.menuOn:hover,
.menuOff:hover {
  color: #040404;
}

/* news */
.news-content {
  box-shadow: 3px 3px 10px rgb(158, 158, 158);
  /* box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px; */
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 7px;
  transition: background-color 200ms ease-in;
}

.news-content:hover {
  background-color: rgb(111, 156, 188);
  color: #fff;
}

.news-content img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  margin-bottom: 20px;
}

.news-title {
  font-family: 'MaruBuriSemiBold';
  font-size: 22px;
  line-height: 1.5;
  text-align: center;
}

.news-content span {
  font-size: 14px;
}

/* nav */
nav {
  display: flex;
  justify-content: center;
  padding: 20px;
}

/* desktop */
@media (min-width:768px) {
  .tool-box {
    justify-content:flex-end;
  }

  input[type=text] {
    width: 180px;
  }

.menu-box {
  display: block;
  position: static;
  width: auto;
  height: auto;
  background-color: transparent;
  box-shadow: none;
}

.menubar {
  position: static;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border-top: 2px solid rgb(175, 175, 175);
  border-bottom: 2px solid rgb(175, 175, 175);
  padding: 8px 10px;
  margin-bottom: 20px;
}

.menubar a {
  padding: 5px 10px;
}

.menuOn,
.menuOff {
  display: none;
}

}
